{% extends 'base.html' %}
{% block title %} Employee List {% endblock title %}
{% block content  %}
<div class="container-md mt-4">
    <a class="btn btn-primary btn-sm mb-3 float-right" href="{% url 'createEmp' %}"> + Create Employee</a>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Email</th>
                <th scope="col">Employee Contact</th>
                <th scope="col">Employee Address</th>
                <th scope="col">Action</th>
            </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_email }}</td>
        <td>
            {% if employee.employee_contact %}
            {{ employee.employee_contact }}
            {% else %}
            <p>NA</p>
            {% endif %}
        </td>
        <td>
            <!-- {{ employee.employee_address }} -->
                {% if employee.employee_address %}
            {{ employee.employee_address }}
            {% else %}
            <p>NA</p>
            {% endif %}
        </td>
        <td>
            <a href="" class="btn btn-sm btn-success">Edit</a>
            <button class="btn btn-sm btn-danger">Delete</button>
        </td>
        
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock content %}
